
/* =======================
Default Styles
==========================*/
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=El+Messiri:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("passport.css");
html{
box-sizing:border-box;
}
*,
*::after,
*::before{
box-sizing:inherit;
padding:0;
margin:0;
}
body{
font-family:"Poppins",sans-serif;
}
img{
width:100%;
}
a{
text-decoration:none;
display:block;
padding:0.7rem;
}
button{
/* display:block; */
text-decoration:center;
box-shadow:none;
cursor: pointer;
box-shadow:none;
outline:none;
padding:0.7rem;
/* border:none; */
}
.btn{
width:100%;
}
.visit-passport-page{
border-radius:5px;
transition:0.5s;
box-shadow: 0px 5px 0px 0px #000;
background-color:#3c3cef;
color:#fff;
font-size:0.8rem;
text-transform:capitalize;
text-align:center;
margin-top:20px;
}
.cta-btn{
--background:#0000ff;
width:120px;
background:var(--background);
border-radius:8px;
/* box-shadow:2px 5px 2px var(--background); */
color:#fff;
text-transform:capitalize;
font-weight:600;
}

section{
padding:2rem 5%;
}


/* =================================
Main Styles
===================================*/
.table-container{
max-width:1200px;
overflow:auto;
}
.table-container::-webkit-scrollbar{
width:5px;
height:5px;
}
.table-container::-webkit-scrollbar-thumb{
border-radius:8px;
background-color:#dddddd;
}
table{
width:1200PX;
/* width:680px; */
border-collapse: collapse;
}
table,
th,
td{
border:1px solid #ccc;
text-transform: capitalize;
}
th,
td{
padding:0.7rem;
font-weight:600;
text-align:center;
vertical-align:center;
}
td{
font-size:90%;
}
.table-row td{
padding:0;
}
/* table tr{
background-color:#f8f8f8;
} */
table tr{
}
table tr:nth-child(2n + 2){
background-color:#dddddd;
color:teal;
}
.flex-container{
margin-top:2rem;
}
.flex-container>*{
margin-bottom:1rem;
margin-top:1rem;
border-radius: 4px;
}
table td{
/* background-color:blue; */
/* border:1px solid red; */
}
td.options{
display:flex;
flex-flow:row wrap;
align-items:center;
padding:0;
justify-content:flex-end;
}
.options > span{
height:45px;
}
/* .save-btn,.cancel-btn{
display:none;
} */
.row-data{
height:45px;
line-height:45px;
}

.row-data.active{
border:1px solid #f00;
border-radius:4px;
background-color:#fff;
}
.add-row,
.delete-row,
.calc-container
{
width:120px;
margin:1rem auto;
}
.error{
color: #f00;
}
.success{
color:#228b22;
}
.warning{
color:#daa520;
}
/* =========================================
 for Tablet device
============================================
 */
@media(min-width:980px){
.flex-container{
display:flex;
flex-flow:row wrap;
justify-content:flex-end;
gap:1.2rem;

}
.flex-container>*{
margin:0;
}
.flex-container>*:hover{
border:1px solid green;
}
table{
width:100%;
}
/* .add-row,
.delete-row{
width:auto;
} */

}

