

/* Imported Styles */
@import url("boilerplate.css");
@import url("header.css");
/* @import url("passport.css"); */
@import url("loader.css");
@import url("footer.css");


/* HOME PAGE STYLES */
.hero-section .highlited-text{
color: #2C7E54;
}
.hero-section .cta-btn,
.services-section .cta-btn
{
/* width: 240px; */
display:inline-block;
}
.services-section p:first-of-type{
text-align:center;
}
.services-section .flex-container-2{
/* border:1px solid red; */
}
.services-section .flex-item p,
.services-section .flex-item h2,
.why-us-section h2{
text-align:initial;
/* box-shadow: 0px 3.568268060684204px 10.704804420471191px 0px #00000040; */

}
.services-section .flex-container-2.gp{
align-content:flex-end;
}
.services-section .flex-container-2.gp>*:first-child{
position: relative;
}
.services-section .flex-container-2.gp>*:first-child
 .calculated-gp{
display:inline-block;
background: #F4F4F4;
box-shadow: 0px 2.4323017597198486px 7.296905040740967px 0px #00000040;
height:150px;
display: flex;
flex-direction:column;
justify-content: center;
align-items: center;
border-radius:7px;
/* padding:1rem; */
 }
 .services-section .flex-container-2.gp>*:first-child
 .calculated-gp .gp-value{
 padding:1rem;
 border-radius:50%;
 width:80px;
 height:80px;
 display:flex;
 background:url(../images/gp-ellipse.svg) no-repeat center/cover;
 }
 .services-section .flex-container-2.gp>*:first-child
.calculated-gp h4{
   font-size:1.64rem;
   margin:auto;
}
.services-section .flex-container-2.gp>*:first-child
.calculated-gp h5{
font-size:0.785rem;
}



/* WHY US  */
.why-us-section .img-container{
width:35px;
height:34px;
border-radius:10px;
border: 1px solid #569876;
background: #CCE0D6;
padding:0.45rem;
margin-bottom:1.2rem;
}
.why-us-section h6{
margin-bottom:0.25rem;
color: #000;
text-transform:capitalize;
}







 @media(min-width:980px){
   .services-section .flex-container-2.gp>*:first-child{
      height:350px;
      }
    .services-section .flex-container-2.gp>*:first-child
    .calculated-gp{
    position:absolute;
    bottom:0;
    right:-25px;
    width:280px;
    }
 }