
.passport-body{
display:flex;
justify-content:center;
align-items:center;
}

/* .passport-guides{
} */

.passport-container{
padding:1rem;
}
.passport-container .card{
margin-bottom:2rem;
}
.passport-container .card{
display:flex;
flex-direction:column;
justify-content:center;
align-items: center;
height:290px;
width:400px;
border:2px dashed;
/* background-color:#f8f8f8; */
border-radius:10px;
}
.passport-container .card.display-photo-card{
padding:2rem;
}
.passport-container .card-body{
margin:auto;
text-align:center;
padding:1rem;
max-height:90%;
width:100%; 
/* overflow:hidden; */
display: flex;
flex-direction:column;
align-items: center;
justify-content: center;
position: relative;
}
.passport-container .card button{
position: relative;
border-radius:5px;
transition:0.5s;
box-shadow: 0px 5px 0px 0px #000;
background-color:#3c3cef;
color:#fff;
font-size:0.8rem;
text-transform:capitalize;
border:none;
padding:10px 60px;

}

.passport-container .card button:active {
  box-shadow: 0px 0px 0px 0px #000;
  transform: translateY(5px);
}
.passport-container .card button input{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
opacity:0;
outline:none;
cursor: pointer;
}
.passport-container .card p{
margin-top:20px;
text-align:center;
color:#010216;
}




/* ADD BACLGROUND COLOR */
.passport-container .display-photo-card .img-container{
width: fit-content;
background-size:contain;
}
.passport-container .display-removed-photo-card .img-container{
background: url("https://thumbs.dreamstime.com/b/transparent-designer-must-have-fake-background-39672616.jpg");
width:fit-content;
background-size:contain;
}
.passport-container .display-removed-photo-card .img-container.red-color{
background-image:url("");
background-color:#f00;
}

.passport-container .display-removed-photo-card .img-container.white-color{
background-image:url("");
background-color:#fff;
}




/* DOWNLOAD BUTTON SECTION */
.passport-container button#uploadAnother {
  background-color: brown;
  padding: 10px 30px;
  box-shadow: 0px 5px 0px 0px rgb(102, 19, 19);
}
.passport-container button#uploadAnother:active {
  box-shadow: 0px 0px 0px 0px rgb(102, 19, 19);
  transform: translateY(5px);
}



/* CODE FOR JS */
#loader-card,
#display-photo-card,
#add-photo-card,
#crop-photo-card,
#download-photo-card,
#upload-details-card,
#successfull-upload-card,
#display-removed-photo-card{
display:none;
}


/* TABLET SCREEN */
@media(min-width:710px){
.passport-container{
width:550px;
}
.passport-container .card.display-photo-card{
  padding:1rem;
  }
}